<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gzc.mapper.DeptMapper">
<!-- 分布查询第二步 -->
    <select id="selectDeptById" resultType="dept">
        select
            dept_id deptId,
            dept_name deptName
        from
            tbl_dept
        where
            dept_id=#{id}
    </select>

    <resultMap id="DeptAndEmpList" type="dept">
        <id column="dept_id" property="deptId"></id>
        <result column="dept_name" property="deptName"></result>
        <!-- collection用来处理一对多的查询,property里填写集合类型的属性名,ofType中填写集合中所存数据的类型的全类名 -->
        <collection property="employeeList" ofType="com.gzc.pojo.Employee">
            <!-- 里面填写集合里存储的元素类型的自定义Map映射 -->
            <id column="id" property="id"></id>
            <result column="last_name" property="name"></result>
            <result column="email" property="email"></result>
            <result column="salary" property="salary"></result>
        </collection>
    </resultMap>

    <select id="selectDeptAndEmpListByDeptId" resultMap="DeptAndEmpList">

        select
            d.dept_id,
            d.dept_name,
            e.id,
            e.salary,
            e.email,
            e.last_name
        from
            tbl_dept d,tbl_employee e
        where
            d.dept_id=e.dept_id
        and
            d.dept_id =#{id};
    </select>

<!-- 通过部门id查询部门信息以及员工信息(Coll分布查询) -->
<!-- 1,通过部门id获取部门信息 -->
<!-- 2,通过部门id查询员工信息 -->
    <resultMap id="DeptAndEmpCollStep" type="dept">
        <id column="dept_id" property="deptId"></id>
        <result column="dept_name" property="deptName"></result>
        <!-- 传多个参数用map的形式{key=value} -->
        <collection property="employeeList"
                    ofType="com.gzc.pojo.Employee"
                    select="com.gzc.mapper.EmployeeMapper.selectEmpByDeptId"
                    column="{did=dept_id}"
                    fetchType="lazy"
                    >
        </collection>
    </resultMap>

    <select id="selectDeptAndEmpListByDeptIdStep" resultMap="DeptAndEmpCollStep">
        select
            dept_id,
            dept_name
        from
            tbl_dept
        where
            dept_id=#{id}
    </select>

</mapper>