<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gzc.mapper.EmployeeMapper">

    <select id="selectEmpById"  resultType="employee">

        select
            id,
            last_name name,
            email,
            salary
        from
            tbl_employee
        where
            id = #{empId};

    </select>

    <insert id="insertEmp">

        insert into
            tbl_employee(last_name, email, salary)
        VALUE
            (#{name},#{email},#{salary})

    </insert>

    <delete id="deleteEmployeeById">

        delete from
            tbl_employee
        where
            id = #{empId};

    </delete>

    <update id="updateEmployeeById">
        update
            tbl_employee
        set
            last_name=#{name},
            email=#{email},
            salary=#{salary}
        where
            id = #{id}
    </update>

    <select id="selectAllEmp" resultType="employee">
        select
            last_name name,
            email,
            salary
        from
            tbl_employee
    </select>

</mapper>